<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
    <title>Scanner Busy</title>
    <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
    <div class="content">
        <h1>Scanner Busy</h1>
        <p>Another scan is currently in progress. Please wait a moment and try again.</p>
        <div class="options">
            <a href="/" class="btn btn-primary">Go Back to Home</a>
        </div>
    </div>
</body>
</html>
