<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
    <title>Scan Failed</title>
    <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
    <div class="content">
        <h1>Scan Failed</h1>
        <p>Something went wrong while scanning the image. Please try again later.</p>
        <a href="/">Go Back to Home</a>
    </div>
</body>
</html>
