<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
    <title>Scan Complete</title>
    <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
    <div class="content">
        <h1>Scan Complete!</h1>
        <p>Your image has been successfully scanned and saved as: <strong>{{ file_name }}</strong></p>
        
        <div class="options">
            <p><a href="/download/{{ file_name }}" class="btn btn-primary" download>Download the scanned image</a></p>
            <p><a href="/" class="btn btn-secondary">Scan another file</a></p>
        </div>
    </div>
</body>
</html>
